<a href="https://colab.research.google.com/github/JacksonKuster/BTE320/blob/main/FINAL%20COPY%20OF%3A%20In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi=3.1415926
height= int(input("Please height length: "))
radius= int(input("Please radius length: "))
area=2*pi*radius**2+2*pi*radius*height
print(f'The area of cylinder is: {area} sq. ft')

Please height length: 60
Please radius length: 60
The area of cylinder is: 45238.93344 sq. ft

In [ ]:
x=float(input('Please enter a number: '))
symbol=input('Please enter a symbol: ')
y=float(input('Please enter another number: '))
if symbol=='+':
  print(x+y)
elif symbol=='-':
  print(x-y)
elif symbol=='*':
  print(x*y)
elif symbol=='/':
  print(x/y)
elif symbol=='//':
  print(x//y)
elif symbol=='**':
  print(x**y)
elif symbol=='%':
  print(x%y)
else:
  print('N/A')

total=(x,symbol,y)
print('Total Value:',total)

Please enter a number: 5
Please enter a symbol: *
Please enter another number: 6
30.0
Total Value: (5.0, '*', 6.0)

In [ ]:


for numberHours in range(1,9):
  fee=5+2.5*numberHours
  if fee<10:
    fee=10.0
  elif fee>20:
    fee=20.0
  print(numberHours,fee)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for adMoney in range(0,201,25):
  revenue=(20+2*round(adMoney**.5))*10
  costs=200+adMoney
  profit=revenue-costs
  print(adMoney,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
import random

while True:
  yn=input("Would you like to play: y/n: ")
  if yn=="y":
    play=input("Enter your move: ")
    computer=random.choice(["rock","paper","scissors"])
    print('Player chose:',play,'Computer chose:',computer)
    if play==computer:
      print("It's a tie! You both picked ",play)
    elif play=="rock" and computer=="scissors" or play=="paper" and computer=="rock" or play=="scissors" and computer=="paper":
      print("You win!",play,"Beats",computer)
    else:
      print(computer,"beats",play,"YOU LOSE :(")
      continue
  else:
    print("Thanks for playing!")
    break

In [ ]:
lst=[]
num=float(input("Give a number: "))
while num != 0.0:
  lst.append(num)
  num=float(input("Give a number: "))
lst.sort(reverse=True)
print(lst)

Give a number: 6
Give a number: 7.8
Give a number: 0
[7.8, 6.0]

or

In [ ]:
x = []
while True:
  num = float(input('Enter a number: '))
  if num == 0.0:
    break
  x.append(num) #puts number in the list
x.sort(reverse=True)
print(x)

Enter a number: 7
Enter a number: 8
Enter a number: 0
[8.0, 7.0]

In [ ]:
L1=[1,2,3,4]
L2=[1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

L1

[3, 4]

Months

In [ ]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr","May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
counts={}

while len(counts)<5:
  given=input("Give a string: ")
  if given not in counts:
    counts[given]=1
  else:
    counts[given]+=1
print(counts)

Give a string: a
Give a string: a
Give a string: a
Give a string: a
Give a string: a
Give a string: b
Give a string: c
Give a string: d
Give a string: e
{'a': 5, 'b': 1, 'c': 1, 'd': 1, 'e': 1}

In [ ]:
#STRESS TEST EDITION

def calcFee(hours):
  fee=5+(2.5*hours)
  if fee<10.0:
    fee=10.0
  elif fee>=20.0:
    fee=20.0
  print("Fee: ",fee)

def main():
  try:
    hours=int(input("Please enter hours: "))
    print("Number of hours parked", hours)
    calcFee(hours)
  except ValueError:
    print("ERROR :(, Please enter an intager")
main()

Please enter hours: 100
Number of hours parked 100
Fee:  20.0

In [ ]:
#from problem set, expection errors
def getValues(n):
  L=[]
  for i in range(n):
    try:
      weight=float(input("Enter a number: "))
      L.append(weight)
    except ValueError:
      print("ERROR :(, Please enter only an intager or decimal")
  return L
def calcAverage(alist):
  try:
    print(f'The average weight is {sum(alist[2:])/len(alist[2:])} lbs.')
  except ZeroDivisionError:
    print("ERROR: Total of weights = 0")

if __name__ == '__main__':
  try:
    n=int(input("Enter size of list: "))
    alist=getValues(n)
    calcAverage(alist)
  except ValueError:
    print("ERROR :(, Please enter only intagers")

Enter size of list: 5
Enter a number: r
ERROR :(, Please enter only an intager or decimal
Enter a number: r
ERROR :(, Please enter only an intager or decimal
Enter a number: r
ERROR :(, Please enter only an intager or decimal
Enter a number: r
ERROR :(, Please enter only an intager or decimal
Enter a number: r
ERROR :(, Please enter only an intager or decimal
ERROR: Total of weights = 0

In [ ]:
hours=int(input("Please enter hours: "))
fee=5+(2.5*hours)
print("Number of hours parked: ",hours)
print("Parking fee: $",fee)

Please enter hours: 5
Number of hours parked:  5
Parking fee: $ 17.5

In [ ]:
def reverse(s):
  if len(s) <=1:
    return s
  else:
    return s[-1]+reverse(s[:-1])

reverse("Hello")

'olleH'

In [ ]:
#NORMAL EDITION
def calcFee(hours):
  fee=5+(2.5*hours)
  if fee<10.0:
    fee=10.0
  elif fee>=20.0:
    fee=20.0
  print("Fee: ",fee)

def main():
  hours=int(input("Please enter hours: "))
  print("Number of hours parked", hours)
  calcFee(hours)
main()

In [ ]:
class Greeting:
  def __init__(self,first,last):
    self.first=first
    self.last=last
  def display (self,formal=False):
    if formal:
      print("Hello", self.first, self.last)
    else:
      print("Hi", self.first)
  def __str__(self):
    return f"{self.first}, {self.last}"
  def __repr__(self):
    return f"{self.first}, {self.last}"

Greeting=Greeting("Donald","Becker")
print(Greeting)

Donald, Becker

In [ ]:
Greeting.display()
Greeting.display(formal=True)

In [ ]:
class Student:
  def __init__(self,name,number,cources):
    self.name=name
    self.number=number
    self.__cources=[]
  def enroll(self,course):
    if course in self.__cources:
      print("You have already enrolled in ",course)
    else:
      self.__cources.append(course)
  def get_cources(self):
    return self.__cources
  def get_number(self,number): # getter method for number attribute
    return self.__number
  def set_number(self,number): # setter method for number attribute
    newnumber=self.__number

s1=Student("James",666, "BTE320")
s1.name,s1.number

('James', 666)

In [ ]:
s1.enroll("BTE320")
s1.enroll("BTE400")
s1.enroll("BTE320")
s1.get_cources()

You have already enrolled in  BTE320

['BTE320', 'BTE400']

In [ ]:
s1.get_cources()

['BTE320', 'BTE400']

In [ ]:
import math
class Point:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def distence(self,other):
    return math.sqrt((self.x-other.x)**2+(self.y-other.y)**2)


x=Point(0,0)
y=Point(3,4)
Point.distence(x,y)

5.0

In [ ]:
import math
class Rectange:
  def __init__(self):
    self.c1=Point(0,0)
    self.c2=Point(0,2)
    self.c3=Point(2,0)
    self.c4=Point(2,2)

  def width(self):
    return self.c1.distence(self.c2)
  def length(self):
    return self.c1.distence(self.c3)
  def area(self):
    return f'Area: {self.width()*self.length()} sq. ft.'


square=Rectange()
square.area()

'Area: 4.0 sq. ft.'

In [ ]:
class Car:
  def __init__(self,make,year):
    self.__make=make
    self.__year=year
  def get_make(self):
    return self.__make
  def set_make(self):
    self.__make=newMake

class SUV(Car):
  def activateAWD(self):
    print('AWD activiated. ')

In [ ]:
c=Car('Ford',2024)
s=SUV('GMC',2020)

In [ ]:
c.get_make()

'Ford'