In [ ]:
pi=3.1415926
height= int(input("Please height length: "))
radius= int(input("Please radius length: "))
area=2*pi*radius**2+2*pi*radius*height
print(f'The area of cylinder is: {area} sq. ft')

In [ ]:
x=float(input('Please enter a number: '))
symbol=input('Please enter a symbol: ')
y=float(input('Please enter another number: '))
if symbol=='+':
  print(x+y)
elif symbol=='-':
  print(x-y)
elif symbol=='*':
  print(x*y)
elif symbol=='/':
  print(x/y)
elif symbol=='//':
  print(x//y)
elif symbol=='**':
  print(x**y)
elif symbol=='%':
  print(x%y)
else:
  print('N/A')

total=(x,symbol,y)
print('Total Value:',total)

Please enter a number: 5
Please enter a symbol: *
Please enter another number: 6
30.0
Total Value: (5.0, '*', 6.0)

In [ ]:


for numberHours in range(1,9):
  fee=5+2.5*numberHours
  if fee<10:
    fee=10.0
  elif fee>20:
    fee=20.0
  print(numberHours,fee)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for adMoney in range(0,201,25):
  revenue=(20+2*round(adMoney**.5))*10
  costs=200+adMoney
  profit=revenue-costs
  print(adMoney,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80